body {
    width: 50%;
    margin: 0 auto;
    background-color: rgb(30, 30, 30);
    color: white;
}

.heading, .subheading {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    padding-bottom: 0;
    margin-top: 50px;
    margin-bottom: 0;
    font: 3em sans-serif;
    text-align: center;
    background-color: rgb(90, 90, 90);
}

.heading {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.subheading {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 30px;
    font: 0.5em sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.inputForm {
    display: flex;
    background-color: grey;
    margin: 30px auto;
    margin-top: 0;
    padding: 20px;
    width: 50%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.addTaskField, .taskName {
    font: sans-serif;
    width: 100%;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.addTaskButton, .deleteButton {
    background-color: black;
    color: white;
    font-style: italic;
    letter-spacing: 0.5px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.addTaskButton:hover, .deleteButton:hover {
    background-color: white;
    color: black;
}

.taskList {
    display: flex;
    flex-wrap: wrap;
    font: sans-serif;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgb(73, 73, 73);
    width: 50%;
    margin: 30px auto;
    padding: 20px;
}

.taskItem {
    display: flex;
    font: sans-serif;
    border: 1px solid black;
    background-color: white;
    color: black;
    width: 100%;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}